h1{
    color: red;
}
.check-all-options{
    width: 150px;
    margin: 0 8px;
}
.dropdown-menu[data-bs-popper] {
    left: -34px !important;
}
.default-link{
    text-decoration: none !important;
}

.p-15{
    font-size: 15px;
}
.mt-85 {
    margin-top: 85px !important;
  }
.mb-10{
    margin-bottom: 10px !important;
}
.menu{
    margin-left: 25px;
}
.menu-list{
    padding: 0px 10px;
}
.menu-topic{
    font-size: bold;
}
.badge{
    padding: 0.75rem 0.4rem;
}
.menu-item{
    list-style: none;
    color: rgb(120, 120, 120);
    border: 1px #3333332e solid;
    
}
.menu-link{
    font-size: 16px;
    display: block;
    text-decoration: none;
}
.menu-item:hover, .menu-link:hover{
    color: red;
}