<h2>THÊM KHÓA HỌC MỚI</h2>
<form method="POST" action="/courses/store">
  <div class="form-group">
    <label for="name" class="form-label">Tên khóa học</label>
    <input name="name" type="text" class="form-control" id="name">
  </div>
    <div class="form-group">
    <label for="description" class="form-label">Mô tả</label>
    <textarea name="description" class="form-control" id="description"></textarea>
  </div>
  <div class="form-group">
    <label for="video" class="form-label">Video</label>
    <input name="video" type="text" class="form-control" id="video">
  </div>
    <div class="form-group">
    <label for="level" class="form-label">Level</label>
    <input name="level" type="text" class="form-control" id="level">
  </div>

  <button type="submit" class="btn btn-primary">Thên khóa học</button>
</form>